<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <title>Vip會員</title>
        <link rel="stylesheet" type="text/css" href="W4.css">
        
    </head>
    <body style="text-align: center;">
        <div style="background-color: bisque;width: 300px;">歡迎光臨，請輸入帳號密碼
        <div>登入系統
            <form  action="/signin" method="POST" onsubmit="return login();">
                <div>帳號 <input type="text" name="Account" /></div>
                <div>密碼 <input type="text" name="Password"  /></div>
                <div>同意條款<input type="checkbox" id="agree" name="Agree" /></div>
                <button type="submit" >登入</button>
            </form>
        </from>
        </div></div>
    <script src="W4.js"></script>
   
    </body>
   
</html>